@model Shaheen.Models.Trade

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Trade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TradeName" class="control-label"></label>
                <input asp-for="TradeName" class="form-control" />
                <span asp-validation-for="TradeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureCompany" class="control-label"></label>
                <input asp-for="ManufactureCompany" class="form-control" />
                <span asp-validation-for="ManufactureCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCertificateIssuer" class="control-label"></label>
                <input asp-for="TestCertificateIssuer" class="form-control" />
                <span asp-validation-for="TestCertificateIssuer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestReportNumber" class="control-label"></label>
                <input asp-for="TestReportNumber" class="form-control" />
                <span asp-validation-for="TestReportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestCertificateNumber" class="control-label"></label>
                <input asp-for="TestCertificateNumber" class="form-control" />
                <span asp-validation-for="TestCertificateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierCommercialRegistry" class="control-label"></label>
                <input asp-for="SupplierCommercialRegistry" class="form-control" />
                <span asp-validation-for="SupplierCommercialRegistry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
